.todoFormContainer {
    margin: 50px auto;
}

.todoFormContainer input {
    width:75%;
    margin-right: 15px;
    border: none;
    border-top: 2px solid;
    border-bottom: 2px solid;
    padding: 5px;
}

.todoFormContainer input:focus {
    outline: none;
    border: none;
    border-top: 2px solid;
    border-bottom: 2px solid;
    padding: 5px;
}

.todoContainer {
    width:75%;
    text-align: left;
    margin-bottom: 10px;
    border-bottom: 1px solid #efefef;
    padding-bottom: 10px;
}

.todoText {
    margin-left:10px;
    font-size: 2rem;
    font-weight: 100;
}